
body{
    background-image: url("background.png");
    /*background-repeat: repeat;*/
    font-size: 8pt;
    font-family: Verdana Tahoma Serif;
    margin: 0px;
    padding: 0px;
}
#image-banner{
    background-image: url("bannerbg.png");
    background-repeat: repeat-x;
    height: 50px;

}
#banner{
    background-image: url("banner.png");
    background-position: center;
    height: 50px;
    background-repeat: no-repeat;
}

#title{
    text-align: center;
    font-size: 24pt ;
    font-family:Tahoma Verdana sans-serif;
    text-shadow: 3px 3px #999999;
}
.wrapper {
    align:center;
    width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-self: center;
    justify-self: center;
    justify-items: center;

    /*grid-template-columns: repeat(3, 1fr);*/
    /*grid-column-gap: 1em;*/
    /*grid-row-gap: 1em;*/
}

.wrapper div{
    /*background: yellow;*/
    padding: 1em;
    border: #105cb6 solid 1px;
}

#content > div, #left > div{

    display: grid;
    border:  solid black 2px;
    margin: 3px;
    padding: 5px;
    grid-auto-rows: minmax(50px, auto);
    border-radius: 0.5em;


}



.parag{
    float: left;

}
.mini-header image{

}

#right{
    margin: 0px;
    padding: 0px;
}
#right-top{

    width: 250px;
    height: 300px;
    padding: 0px;
    margin: 0px;


}
#right-top img{
    width: 300px;
    height: 300px;
    padding: 0px;
    margin: 0px;
}
#right-down{
    border:  solid red 2px;

}
ul{
    list-style-type: none;
}
ul >li{
    font-size: 11px;
    list-style-type: none;
}