
body {
    background-image: url("background.png");
    font-size: 8pt;
    font-family: Verdana Tahoma sans-serif;
    margin: 0px;
    padding: 0px;
}

#image-banner {
    background-image: url("bannerbg.png");
    background-repeat: repeat-x;
    height: 50px;

}

#banner {
    background-image: url("banner.png");
    background-position: center;
    height: 50px;
    background-repeat: no-repeat;
}

#title {
    font-weight: bold;
    text-align: center;
    font-size: 24pt;
    font-family: Tahoma Verdana sans-serif;
    text-shadow: 3px 3px #999999;
    margin: 10px;
}

.wrapper {
    /*width: calc(100% - 80px);*/

    width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    grid-template-areas: " a b " " c c";
    border: gray solid 4px;
    border-radius: 20px;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


#left {
    grid-area: a;
    width: 550px;
}

#rbg {
    background-image: url("rbg.png");
    background-repeat: repeat-x;
    height: 83px;
    border-radius: 15px 0px 0px 0px;
    margin: 0px;
    padding: 0px;
}

#rotten {
    background-image: url("rottenbig.png");
    height: 83px;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
    border-radius: 20px 0px 0px 0px;
}

#percentage {
    font-size: 48pt;
    color: red;
    font-weight: bold;
    text-align: right;
    font-style: normal;
}


#two-column {
    display: flex;
    flex-direction: row;
    /*border: black 2px solid;*/
    /*background-color: #105cb6;*/
    float: left;
    /*display: grid;*/
    /*border: solid black 2px;*/
    /*margin: 3px;*/
    /*padding: 5px;*/
    /*grid-auto-rows: minmax(50px, auto);*/
    /*border-radius: 0.5em;*/
    /*grid-template-columns: 1fr 1fr;*/
    /*float: left;*/


}

#two-column > div {
    /*background-color: #f1f1f1;*/
    width: 47%;
    /*height: 100%;*/
    margin: 0% 0% 0% 2%;
    padding: 0px;
    /*text-align: center;*/
    /*float: left;*/
    /*border: 1px solid red;*/
}

.box {
    font-size: 8pt;
    font-weight: bold;
    background-color: #E8DC9B;
    border: 2px gray solid;
    border-radius: 10px;
    padding: 8px;
    margin: 10pt;
    text-align: left;
}

.box.negative {

    margin-right: 5px;
    background-image: url("rotten.gif");
    background-repeat: no-repeat;

}


.box.positive {
    margin-right: 5px;
    background-image: url("fresh.gif");
    background-repeat: no-repeat;

}


.qoute {
    margin: 10px 5px;
    background-image: url("critic.gif");
    background-repeat: no-repeat;
    /*margin-right: 5px;*/
    box-sizing: border-box;

}

span {
    text-align: left;
    font-style: italic;
}

#right {
    grid-area: b;

    background-color: #A2B964;
    width: 250px;
    border-radius: 0px 20px 0px 0px;
    box-sizing: border-box;
    /*padding: 0px 5px 0px 0px;*/

}


#right-top {
    padding: 0px;
    width: 250px;
    /*margin: 0px 0px 10px 0px;*/
    background-image: url("overview.png");
    border-radius: 0px 20px 0px 0px;
    background-color: #105cb6;
    height: 400px;

}

#right-down {
    padding-left: 10px;
        font-family: Arial sans-serif;
    /*border: solid red 2px;*/
    font-size: 8pt;
    text-align: left;

}


#review {
    grid-area: c;
    border-radius: 0px 0px 20px 20px;
    text-align: center;
    box-sizing: border-box;
    padding: 5px;
    background-color: #A2B964;
}


dt {
    font-size: 10px;
    font-weight: bold;
    margin: 5px 0px;
    box-sizing: border-box;

}


footer {

    text-align: right;
    opacity: 0.5;
}