h1{
    color: #A4A400;
    background-color: #F0F0F0;
    display:inline;

    font-family: "Lucida Sans Unicode", Helvetica, Arial;
    font-weight: normal;
    font-size: 18pt;
    text-decoration: underline;
    letter-spacing: 0.25em;
}
#main{
   text-align: center;
   font-size: 22pt;
   font-weight: bold;
   text-decoration: underline;
   letter-spacing: 0.25em;
}
body{
    color: #404040;
    font-size: 11pt;
    font-family:  Georgia, Garamond,serif;
    background-image: url("silverware.jpg");
    background-attachment: fixed;
    }
a{
    color: #A4A400;
}


#ul{
list-style:none;
}

abbr{
    text-decoration: underline;
}

#pre2{
    font-family: monospace;
    text-align: left;
}

footer{

text-align: left;
}

.pre1{
    font-style: italic;
    background-color: #FFFFA8;
}
#div1{
    text-align: center;
}
#strike{
    text-decoration:line-through;
}