.container{
}
.header{
    width: 100%;
text-align: center;
}
.footer{
    width: auto;
}
.left{
    width: 200px;
}
.right{
    width: 200px;
}
.title{
    color:darkgreen;
    size:23px;
    margin-left: 200px;
    width: 300px;

}