

#container{
    width: 500px;
    background-color: lightslategray;
    margin-left: 20px;
    overflow: hidden;

}

#header{
    border: 1px solid;
    background-color: yellow;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    /*padding-right: 20px;*/
}
#first{
    margin: 5px;
    padding:  5px;
    width: 100px;
float: right;
    background-color: aquamarine;
}
#second{

    margin: 5px;
    padding:  5px;
    width: 100px;
    float: right;
    background-color: aliceblue;
}