


ul{
    width: 600px;
    height: 70px;
    margin-top: 40px;
    margin-left: 40px;
    border: solid red 2px;
    background-color: red ;
}
ul li{
text-align: center;
    padding: 10px;
    margin: 10px 3px;
    float: left;
    list-style-type: none;
    padding: 10px;
    display:inline;
    border: black solid 3px;
    background-color: aliceblue;
}