.box{
    width: 200px; height: 100px; border: black solid 3px;
    background-color: red;
    margin: 10px;
    padding: 5px;
    float: left;
   /*display: block;*/
    /*overflow: hidden;*/
}

.outer{
    width: 800px;
    height: 300px;
    border: 4px  solid green;
}