
body{
    background-color: #b3d4fc;
    font-family: "Helvetica Neue", Cambria,   sans-serif;
}
.header{
text-align: left;
}

h4{
    font-family: "Times New Roman", Cambria, sans-serif;
    color: #105cb6;

}
.header-paragraph{
    width: 80%;
    align-content: center;
    margin-left: 50px;
}
.right{
    width: 200px;
}
.title{
    color:darkgreen;

    margin-left: 200px;
    width: 300px;

}
.moodes img{
    width: 150px;
    height: 150px;
    border-radius: 10px;
}
